Deployment:
replicaCount: 3
name: my-nginx-prod
image:
  repository: ghcr.io/mina-farajian/jetbrain-task
  tag:
  pullPolicy: IfNotPresent
resources:
   limits:
     cpu: 500m
     memory: 512Mi
   requests:
     cpu: 250m
     memory: 256Mi

livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http


service:
  type: ClusterIP
  port: 80
  name: my-service-prod

ingress:
  enabled: false
  hosts: []

autoscaling:
  enabled: false

serviceAccount:
  create: false
  name: ""

env:
  secret: {}