Deployment:
replicaCount: 1
name: my-nginx-stage
image:
  repository: ghcr.io/mina-farajian/jetbrain-task
  pullPolicy: IfNotPresent
resources:
   limits:
     cpu: 200m
     memory: 256Mi
   requests:
     cpu: 70m
     memory: 128Mi

livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http


service:
  type: ClusterIP
  port: 80
  name: my-service-stage

ingress:
  enabled: false
  hosts: []

autoscaling:
  enabled: false

serviceAccount:
  create: false
  name: ""

env:
  secret: {}